 <footer class="footer">
        <div class="redes">
            <a href="https://www.pinterest.com/testproyect/" target="_blank" class="enlace"><i class="icon-pinterest iconoR"></i></a>
            <a href="https://twitter.com/" target="_blank" class="enlace"><i class="icon-twitter iconoR"></i></a>
            <a href="https://facebook.com/" target="_blank" class="enlace"><i class="icon-facebook-official iconoR"></i></a>
            <a href="https://github.com/gt37285" target="_blank" class="enlace"><i class="icon-github-alt iconoR"></i></a>
        </div>
    </footer>