<html lang="es"></html>
{{>nav}}
{{> head}}
<body>
    {{>aside}}
<main class="main">
        <article class="experiencia">
                <h3> <i class="fa fa-suitcase  iconA"></i> <span>Experiencia</span> </h3>
                
                <section class="container">
                    <h3></h3><b> Modelaje </b></h3>
                    <p class="calendar"><i class="fa fa-calendar icon"></i> 2020-2023</p>
                    <p> <div class="10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint iure mollitia eaque repellendus temporibus fugiat neque distinctio culpa corrupti aliquid qui voluptate velit voluptatem tenetur et dicta quae, quidem a?</div> </p>
                </section >

                <section class="container">
                    <h3></h3><b>Lorem ipsum dolor sit amet.</b></h3>
                    <p class="calendar"><i class="fa fa-calendar icon"></i>2023-2024</p>
                    <p> <div class="10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint iure mollitia eaque repellendus temporibus fugiat neque distinctio culpa corrupti aliquid qui voluptate velit voluptatem tenetur et dicta quae, quidem a?</div> </p>
                </section >

                <section class="container">
                    <h3></h3><b>Lorem ipsum dolor sit amet.</b></h3>
                    <p class="calendar"><i class="fa fa-calendar icon"></i>2024-2030</p>
                    <p> <div class="10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint iure mollitia eaque repellendus temporibus fugiat neque distinctio culpa corrupti aliquid qui voluptate velit voluptatem tenetur et dicta quae, quidem a?</div> </p>
                </section >

                <section class="container">
                    <h3></h3><b>Lorem ipsum dolor sit amet.</b></h3>
                    <p class="calendar"><i class="fa fa-calendar icon"></i>2030-2031</p>
                    <p> <div class="10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint iure mollitia eaque repellendus temporibus fugiat neque distinctio culpa corrupti aliquid qui voluptate velit voluptatem tenetur et dicta quae, quidem a?</div> </p>
                </section >
    
            </article>
</main>

{{>footer}}

</body>
</html>