<html lang="es"></html>
{{>nav}}
{{> head}}
<body>
    {{> aside }}
    <main class="main">
        <article class="educacion">
            <h3> <i class="fa fa-certificate iconA"></i> <span>Educacion</span> </h3>
            <section class="container">
                <h3></h3><b>Universidad Pasarella madrid</b></h3>
                <p class="calendar"><i class="fa fa-calendar icon"></i>2016 - 2020</p>
                <p> Moda Passarrella</p>
                <hr>
            </section >

            <section class="container">
                <h3></h3><b>Unidad educativa distrito 13</b></h3>
                <p class="calendar"><i class="fa fa-calendar icon"></i>2009 - 2015</p>
                <p>Bachiller Tecnico en moda</p>
                <hr>
            </section >

            <section class="container">
                <h3></h3><b>Unidad educativa puebla</b></h3>
                <p class="calendar"><i class="fa fa-calendar icon"></i>2007 - 2009</p>
                <p>Educacion Basica</p>
                <hr>
            </section >

            <section class="container">
                <h3></h3><b>Escuela Virtual(EV)</b></h3>
                <p class="calendar"><i class="fa fa-calendar icon"></i>Siempre</p>
                <p>Modelaje</p>
                <hr>
            </section >


        </article>
        
        <article class="experiencia">
                <h3> <i class="fa fa-suitcase  iconA"></i> <span>Experiencia</span> </h3>
                <section class="container">
                    <h3></h3><b> Papeleria </b></h3>
                    <p class="calendar"><i class="fa fa-calendar icon"></i> 2020-2023</p>
                    <p> <div class="10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint iure mollitia eaque repellendus temporibus fugiat neque distinctio culpa corrupti aliquid qui voluptate velit voluptatem tenetur et dicta quae, quidem a?</div> </p>
                </section >

                <section class="container">
                    <h3></h3><b> Cocina </b></h3>
                    <p class="calendar"><i class="fa fa-calendar icon"></i>2023-2024</p>
                    <p> <div class="10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint iure mollitia eaque repellendus temporibus fugiat neque distinctio culpa corrupti aliquid qui voluptate velit voluptatem tenetur et dicta quae, quidem a?</div> </p>
                </section >

                <section class="container">
                    <h3></h3><b>Lorem ipsum dolor sit amet.</b></h3>
                    <p class="calendar"><i class="fa fa-calendar icon"></i>2024-2030</p>
                    <p> <div class="10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint iure mollitia eaque repellendus temporibus fugiat neque distinctio culpa corrupti aliquid qui voluptate velit voluptatem tenetur et dicta quae, quidem a?</div> </p>
                </section >

                <section class="container">
                    <h3></h3><b>Lorem ipsum dolor sit amet.</b></h3>
                    <p class="calendar"><i class="fa fa-calendar icon"></i>2030-2031</p>
                    <p> <div class="10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint iure mollitia eaque repellendus temporibus fugiat neque distinctio culpa corrupti aliquid qui voluptate velit voluptatem tenetur et dicta quae, quidem a?</div> </p>
                </section >
    
            </article>
    </main>
    {{>footer}}
</body>
</html>
